<section class="container my-5">
    <div class="cta-box text-center">
        <h2>Freelance iş fırsatlarını keşfetmeye hazır mısın?</h2>
        <p>Hemen giriş yap, ilanları incele ve teklif vermeye başla.</p>

        <a href="/Account/Login" class="btn btn-light-main">
            Giriş Yap
        </a>
    </div>
</section>